# -*- coding: cp866 -*-
# Sample .env file
# spaces around '=' not allowed
exeOutlook=C:\Progra~2\Micros~2\office16\outlook.exe

# Адрес(а) для отправки сообщения с отчетом о релизе
info_to=inform@mail.ru
1cVer=8.3.18.1483
exe1c=C:\progra~2\1cv8\!1cVer!\bin\1cv8.exe
v8.srv1C=serv1C
v8.Ver1C= --v8version !1cVer!
v8.cl_auth= --cluster-admin ADM --cluster-pwd PWD
v8.ib_auth= --db-user ROOT --db-pwd PASSWORD
v8.uccode=--uccode UCODE

cf.bnu=cfg\1.json
cf.uat=cfg\UAT.json
cf.zup=cfg\ZUP.json
cf.copy=\\srv\release\RELEASES

nm_uat=УАТ
nm_zup=ЗУП
nm_bnu=АСУО

HTTPS_PROXY=http://192.168.1.15:3333
HTTP_PROXY=http://192.168.1.15:3333

token=TOKEN
url=https://api.telegram.org/bot
channel_id=-CHANNEL_ID

tmp=\TEMP
temp=\TEMP
log=log

