# -*- coding: cp866 -*-
# Sample .env file
# spaces around '=' not allowed
Ver1C=8.3.18.1483
exe1c=C:\progra~1\1cv8\!Ver1C!\bin\1cv8.exe
exeOutlook=C:\Progra~2\Micros~1\office16\outlook.exe
info_to=boss@adress.dom
srv1C=server1C
token=TELEGRAM_TOKEN
url=https://api.telegram.org/bot
channel_id=CHANNEL_ID_TO_INFORM

nm_uat=УАТ
nm_zup=ЗУП
nm_bnu=УПП
